{% extends "base.html" %}
{% load staticfiles %}


{% block extra_head %}

    <link href="{% static 'widgets/css/lightbox_form.css' %}" 
        rel="stylesheet" type="text/css">

 

    <link href="{% static 'team/css/team_list.css' %}" 
        rel="stylesheet" type="text/css">        

{% endblock %}


{% block breadcrumb %}
    <li class="active">Teams</li>
{% endblock %}


{% block content %}

<!-- Toolbox -->
<div id="team-list-toolbox" class="row">

    <div class="col-lg-6 col-sm-6 col-xs-12 toolbox-panel">
        <button id="team-list-toolbox__create-btn" type="button" class="btn btn-primary">
            <span class="fa fa-plus __iconspacer"></span>
            Add
        </button>
        <button id="team-list-toolbox__remove-btn" type="button" class="btn btn-danger">
            <span class="fa fa-minus __iconspacer"></span>
            Remove
        </button>        
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-12 toolbox-panel">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <select id="teams_filter" class="form-control">
                <option value="-1">All teams</option>
                <option value="-2" {% if filter == -2 %}selected{% endif %}>Teams I manage</option>
                <option value="-3" {% if filter == -3 %}selected{% endif %}>Teams I'm on</option>
                {% for item in orgs %}
                    <option value="{{ item.id }}" {% if filter == item.id %}selected{% endif %}>Teams for organization "{{ item.name }}"</option>
                {% endfor %}
            </select>
        </div>
    </div>    
</div>

<!-- Data -->
<div id="team-list-wrapper">
{% if not teams %}
    <div id="team-empty-data"> 
        There are no any teams 
    </div>  
{% else %}    
    <ul id="team-list-data" class="list-group">
        {% for team in teams %}
        <li class="list-group-item" data-id = "{{team.id}}">
            <div class="list-group-item-counter">{{forloop.counter}}</div>
            <div class="list-group-item-wrapper">
                <a href="{% url 'team:update' team.id %}">
                    <h4 class="list-group-item-heading">
                        {{team.name}}
                    </h4>
                </a> 
                <p class="list-group-item-text">{{team.description}}</p>
            </div> 
            <div class="list-group-item-status">{% if team.is_active %}Active{%endif%}</div>           
        </li>        
        {% endfor %}           
    </ul>     
{% endif %}
</div>    

{% endblock %}


{% block hidden %}
    {{ block.super }}
    {% include 'team/team_create_form.html' %}
{% endblock %}


{% block script %}
    <script src="{% url 'team:api' %}"></script>       
    <script src="{% static 'widgets/lightbox_form.js' %}"></script>
    <script src="{% static 'widgets/list.js' %}"></script>    
    <script src="{% static 'team/init.js' %}"></script>      
{% endblock %}

