#message-wrapper{
    position: relative;
    top:10px;
    width: 40%;
    margin-left: 40%;
    /*margin-top: 5px;*/
    z-index: 9999;

    background: #ddbdff;
    border: 1px solid black;
}
.alert-message{
    width: 100%;
    opacity: 1;
    filter: alpha(Opacity=100);
}