/*
*   team-list-panel
*/
#team-list-panel {
    position: fixed;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;    
    z-index: 3;    
    background: #fff;    
}


/*
*   team-list-grid
*/
#team-list{
    padding-top: 60px;
}

#team-list .list-group-item-text {
    margin-top: 10px;
}

#team-list .list-group-item.active,
#team-list .list-group-item.active:focus,
#team-list .list-group-item.active:hover {
    z-index: 2;
    color: #000;
    background-color: darkgrey;
    border-color: darkgrey;
}
#team-list .list-group-item.active .list-group-item-text,
#team-list .list-group-item.active:focus .list-group-item-text,
#team-list .list-group-item.active:hover .list-group-item-text {
    color: dimgrey;
}