#message-wrapper{
    position: absolute;
    width: 40%;
    margin-left: 40%;
    margin-top: 5px;
    z-index: 9999;
}
.alert-message{
    width: 100%;
    opacity: 1;
    filter: alpha(Opacity=100);
}