#footer-wrapper {
    
    /*decoration*/
    height: 30px;
    background: #327896;
    color: white;
    padding: 5px 15px;

    /*position*/
    position: absolute;
    bottom: 0;    
    margin-left: 250px; 
    width: calc(100% - 250px);
    z-index: 10;

    /*animation*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;    

    /*text*/
    text-align: right;
}

#footer-wrapper.hugeled {
    margin-left: 0px; 
    width: 100%;
}

@media (max-width:768px) {
    #footer-wrapper {
        margin-left: 0px; 
        width: 100%;        
    }

    #footer-wrapper.hugeled {
        margin-left: 250px; 
        width: 100%;        
    }

}