#header-wrapper {

    /*decoration*/
    background: #6ab0ce;

    /*position*/
    position: absolute;    
    width: calc(100% - 250px);
    height: 80px;    
    margin-left: 250px;         
    z-index: 10;

    /*animation*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;          
}

#header-wrapper.hugeled {
    margin-left: 0px; 
    width: 100%;
}

@media (max-width:768px) {
    #header-wrapper {
        margin-left: 0px; 
        width: 100%;        
    }

    #header-wrapper.hugeled {
        margin-left: 250px; 
        width: 100%;        
    }

}

/*
* sidebar toggle botton
*/
#menu-toggle{

    /*decoration*/
    color: #fff;
    cursor: pointer;

    /*position*/
    margin-top: 25px;
    margin-left: 12px;    
    padding: 3px
}

#menu-toggle:hover{
    background: rgba(255,255,255,0.2);
    border-radius: 4px;    
}


/*
* breadcrumb
*/
.breadcrumb{
    background: transparent;
    margin: 0;
    padding: 26px 0px;
}
.breadcrumb li{
    color: #fff;
    font-size: 20px;
}