/*
* wrapper
*/
#message-wrapper{
    
    /*decoration*/
    text-align: right;
/*    background: #ddbdff;
    border: 1px solid black;*/
    
    /*position*/
    position: absolute;
    width: calc(100% - 40% - 10px - 250px);
    margin-top: 10px;
    margin-left: calc(40% + 250px);
    z-index: 9999;

    /*animation*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;          
}

#message-wrapper.hugeled {
        width: calc(100% - 40% - 10px );
        margin-left: 40% ;
}

@media (max-width:768px) {
    #message-wrapper {

        width: calc(100% - 40% - 10px );
        margin-left: 40% ;
    }

    #message-wrapper.hugeled {
        width: calc(100% - 40% - 10px );
        margin-left: calc(40% + 250px) ;
    }

}

/*
* alert
*/
.alert-message{

    opacity: 1;
    filter: alpha(Opacity=100);

    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;    

}

.alert-message .close{
    font-size: 15px;    
    margin-left: 10px;
    padding: 3px;
    border-radius: 3px;    
}

.alert-message .close:hover{
    background: rgba(255, 255, 255, 0.6);
}

