/*
*   wrapper
*/
#sidebar-wrapper {

    /*decoration*/
    overflow-y: auto;
    background: #434345;

    /*position*/
    position: absolute;
    height: 100%;
    width: 250px;
    z-index: 10;    

}


/*
*   sidebar-nav
*/
.sidebar-nav,
.sidebar-bottom {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav {
    /*height: calc(100% - 110px);*/
    height: calc(100% - 165px);    
    overflow-y: auto;    
}


.sidebar-nav li,
.sidebar-bottom li{
    text-indent: 20px;
    line-height: 35px;
}

.sidebar-nav li a,
.sidebar-bottom  li a {
    display: block;
    text-decoration: none;
    color: #e3e3e3;
    font-size: 22px;
    font-family: oswald-reg;
    font-weight: 300 !important;
    text-align: left;
    padding: 10px 0;
    text-transform: uppercase;
}

.sidebar-nav li a:hover ,
.sidebar-bottom li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus ,
.sidebar-bottom li a:active,
.sidebar-bottom li a:focus  
{
    text-decoration: none;
}



/*
*   brand
*/
.sidebar-nav > .sidebar-brand {
    height: 80px;
    font-size: 18px;
    line-height: 60px;
    margin-bottom: 25%;
}
.sidebar-nav > .sidebar-brand a {
    text-indent: 0px;
    padding: 10px 0;
    color: #fff;
    font-family: verdana;
    font-size: 35px;
    text-align: center;
    background: rgba(44, 143, 185, 0.7);
    text-transform: lowercase !important;
}
.sidebar-nav > .sidebar-brand a span{
    color: #a4c6e0;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: rgba(44, 143, 185, 0.7);
}

/*
*   active
*/
.sidebar-nav > .active {
    background: rgba(255,255,255,0.1);
}