<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AllStacks</title>

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" 
        rel="stylesheet" type="text/css">
    <link href="{% static "furst/css/style.css" %}" 
        rel="stylesheet" type="text/css">
    <link href="{% static "furst/css/font-awesome.min.css" %}" 
        rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' 
        rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' 
        rel='stylesheet' type='text/css'>
    <link href="{% static "furst/css/build.css" %}" 
        rel="stylesheet" type="text/css">

    {% block extra_head %}{% endblock %}

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{% url 'dashboard:index' %}">a<span>ll</span>stacks</a>
                </li>
                <li>
                    <a href="{% url 'teams' %}">Teams</a>
                </li>
                <li>
                    <a href="{% url 'organization_list' %}">Organization</a>
                </li>
                <li>
                    <a href="{% url 'plan' %}">Profile</a>
                </li>
                <ul>
                    <li>
                        <a href="{% url 'account_change_password' %}">Settings</a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}">Logout</a>
                    </li>
                </ul>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


        <!-- Page Content -->
        <div id="page-content-wrapper">

            <!-- Messages -->
            <div id="messages-wrapper">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags and message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-message" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            <!-- /Messages -->

            <!-- Page Header -->
            <div id="page-content-header" class="col-xs-12">
                <i id="menu-toggle" class="fa fa-2x fa-bars pull-left" aria-hidden="true"></i>
                <ol class="breadcrumb pull-left">
                    {% block breadcrumb %}
                    {% endblock  %}
                </ol>
                <a href="{% url 'account_logout' %}" class="pull-right">Logout</a>
            </div>
            <div class="container-fluid">
                {% block main %}
                {% endblock %}
            </div>
        </div>

    </div>


    <script src="{% static "jquery/jquery.js" %}"></script>
    <script src="{% static "bootstrap/bootstrap.min.js" %}"></script>

    <script src="{% static "furst/csrf.js" %}"></script>
    <script src="{% static "furst/rpc.js" %}"></script>    

    <script src="{% static "base/cls.js" %}"></script>
    <script src="{% static "base/init.js" %}"></script>    

    {% block script %}
    {% endblock %}

</body>

</html>
