/*
*   team-list-toolbox
*/
#team-list-toolbox {
    
    /*decoration*/
    background: #fff;

    /*position*/
    position: absolute;
    width: 100%;
    z-index: 3;    
}

#team-list-toolbox.row {
    margin: 0;
    /*padding-top: 10px;*/
    padding-bottom: 10px;    
    border-bottom: 1px solid #eee; 
}

.toolbox-panel {
    margin-top:10px; 
}


/*
*   wrapper
*/
#team-list-wrapper{
    position: relative;
    top: 53px;
    height: calc(100% - 53px);
    overflow-y: auto;    
    /*margin-top: calc(80px);*/
}

@media (max-width:768px) {
    #team-list-wrapper {
    top: 97px;
    height: calc(100% - 97px);
    }

}

/*
*   empty data
*/
#team-list-wrapper #team-empty-data {
    margin-left: 15px;
    margin-top: 10px;
}


/*
*   data
*/
#team-list-data {
    /*list-style-type: decimal;*/
}


#team-list-data.list-group {
    padding-left: 0;
    margin-bottom: 0px;
}

#team-list-data .list-group-item {
    padding-left: 5px;
}


/*counter*/
#team-list-data .list-group-item .list-group-item-counter{
    display: inline-block;    
    vertical-align: middle;
    width: 20px;
    text-align: center;    
    padding: 5px;
    margin: 5px;
}

/*wrapper*/
#team-list-data .list-group-item .list-group-item-wrapper{
    display:  inline-block;    
    vertical-align: middle;   
    width: calc(100% - 70px); 
}

/*heading*/
#team-list-data .list-group-item .list-group-item-heading{
    display: inline-block;
    margin: 0;
}

/*text*/
#team-list-data .list-group-item .list-group-item-text{
    margin-top: 5px;
}

/*text*/
#team-list-data .list-group-item .list-group-item-status{
    display: inline-block;
    text-align: right;  
    /*width: 33px;      */
    vertical-align: middle;    
}

#team-list-data .list-group-item:hover {
    background-color: #ddd;
    /*border-color: darkgrey;    */
}


#team-list-data .list-group-item a{
    color: #337ab7;
}

#team-list-data .list-group-item-text {
    margin-top: 10px;
}

/*
*   active
*/
#team-list-data .list-group-item.active,
#team-list-data .list-group-item.active:focus,
#team-list-data .list-group-item.active:hover {
    /*z-index: 2;*/
    color: #000;
    background-color: darkgrey;
    border-color: darkgrey;
}
#team-list-data .list-group-item.active .list-group-item-text,
#team-list-data .list-group-item.active:focus .list-group-item-text,
#team-list-data .list-group-item.active:hover .list-group-item-text {
    color: dimgrey;
}